<nav class="nav">
    <a href="{{ "/" | relURL }}" class="logo-text">CCM's DesignFeed</a>
    <div class="nav-links">
        <div class="nav-center">
            <a href="{{ "/folders" | relURL }}">Folders</a>
        </div>
        <div class="nav-right">
            <a href="{{ "/creator" | relURL }}">About the Creator</a>
        </div>
    </div>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.nav-links');

    hamburger.addEventListener('click', () => {
        navLinks.classList.toggle('active');
    });
});
</script> 