// Theme Colors
$background-color: #FFFFF5; // Creamy White
$text-color: #0C0C0C;       // Black text
$header-background-color: #171717; // Charcoal gray
$header-text-color: #FFFFFF; // White text for header
$content-background-color: #FFFFFF; // White for content cards
$accent-color: #0071e3;     // A new, complementary blue accent

// Fonts
$heading-font: 'Rufina', serif;
$body-font: 'Garet', sans-serif;

// Breakpoints
$breakpoint-small: 640px; 