// Theme Colors
$background-color: #0D0D0D;
$text-color: #FFFFFF;
$accent-color: #64FFDA;

// Fonts
$heading-font: 'Rufina', serif;
$body-font: 'Garet', sans-serif;

// Breakpoints
$breakpoint-small: 640px; 